@model BookStore.Models.SACH

@{
    ViewBag.Title = "Chitietsach";
}

<h2>Thông tin chi tiết sách</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên sách:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tensach)
        </dd>

        <dt>
            Giá bán:
        </dt>

        <dd>
            @String.Format("{0:0,0}", Model.Giaban) VNĐ
        </dd>

        <dt>
            Mô tả
        </dt>

        <dd style="width:300px; text-align:justify">
            @Html.DisplayFor(model => model.Mota)
        </dd>

        <dt>
            Ảnh bìa
        </dt>

        <dd>
            <img src="@Url.Content("~/Content/Images/" + Model.Anhbia)" />
        </dd>

        <dt>
            Ngày cập nhật:
        </dt>

        <dd>
            @String.Format("{0:dd/MM/yyyy}", Model.Ngaycapnhat)
        </dd>

        <dt>
            Số lượng tồn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soluongton)
        </dd>

        <dt>
            Chủ đề:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHUDE.TenChuDe)
        </dd>

        <dt>
            Nhà xuất bản:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NHAXUATBAN.TenNXB)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Điều chỉnh", "Suasach", new { id = Model.Masach }) |
    @Html.ActionLink("Trở về", "Sach")
</p>
